<div class="container">
  <br>
  <div class="row">

    <div class="col-md-6 mb-3">

      <div class="card">
        <div class="card-header" style="font-weight: bold;">
          GZscript
        </div>
        <div class="card-coder">
          <ngx-codemirror [(ngModel)]="codigoFonte" autoFocus="true" [options]="{
          lineNumbers: true,
          theme: 'material',
          mode: 'markdown'
        }">
          </ngx-codemirror>
        </div>
        <div class="card-body">
          <button pButton type="button" icon="pi pi-play" label="Compilar" (click)="compilar()"
            class="p-button"></button>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="card mb-3" style="min-height: 441px;" *ngIf="!!saida">
        <div class="card-header bg-console">Console</div>
        <div class="card-body">
          <!-- <h5 class="card-title">Dark card title</h5> -->
          <p class="card-text"> {{ saida | json }} </p>
        </div>
      </div>
    </div>
  </div>
</div>